body {
    background-color: lightskyblue;
    text-align: center;
    font-family: cursive;
}

input {
    background-color: rgb(255, 255, 143);
    margin: 1em 0;
}

h1, h2 {
    margin: 2em auto;
}

.button:hover {
    background-color: green;
    color: white;
}